
<div class="center">
  <h1>Welcome To GroupBoard</h1>

  <%= link_to 'Log-In', new_user_session_path, class: "btn btn-off-white cabin" %>
  <%= link_to 'Sign-up', new_user_registration_path, class: "btn btn-off-blue cabin" %>
  <br>
</div>
