<div class="dashboard_flexbox_container">
  <div class="user_form">

<h1>Editing Dashboard</h1>

<%= render 'form' %>

<%= link_to 'Show', @dashboard %> |
<%= link_to 'Back', dashboards_path %>

</div>
</div>
