@import 'normalize';
@import 'user';

$btn-off-white: white;
$btn-off-blue: blue;
$btn-border: 1px solid gray;
$btn-height: 40px;
$btn-padding: 1rem;

body {
  box-sizing: border-box;
  font-size: 16px;
}

.btn {
  border: $btn-border;
  font-size: 1.5rem;
  line-height: $btn-height;
  margin: 1rem;
  padding: .6rem ($btn-padding * 2);
  min-width: 10rem;
  border-radius: 10px;
}

.btn-off-white {
  background: $btn-off-white;
  &:hover {
    background: darken($btn-off-white, 20%);
  }
}

.btn-off-blue {
  background: $btn-off-blue;
  color: white;
   &:hover {
    background: lighten($btn-off-blue, 20%);
  }
}
