// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$gray: gray;

// ________________________________________
// DASHBOARDS INDEX VIEW
// ________________________________________
.dashboard_flexbox_container {
  display:flex;
  justify-content: center;
  align-items: center;
}


.dash-flex-child {
border: 2px solid black;
padding:3em;
max-width: 35em;

}

#title {
  display: block;
  margin: 4px;
  // border: 1px solid black;
  // background: blue;
  min-height: 100px;
  text-align: center;
}


#dashboard_list {
  display: block;
  margin: 4px;
  text-align: center;
  // border: 1px solid black;
}

#dashboard_join {
  display: block;
  margin: 4px;
  // border: 1px solid black;
  // background: orange;
  min-height: 10em;
  text-align: center;
}

#dashboard_links {
  display: block;
  margin: 4px;
  // border: 1px solid black;
  // background: yellow;
  min-height: 10em;
}

.each_dashboard {
  background: gray;
  border-radius: 5px;
  padding: 1em;
  max-width: 25em;
  margin:auto;
}


// ________________________________________
// DASHBOARDS SHOW VIEW!!!!!!!
// ________________________________________

#main {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-flow: row;
  min-height: 500px;
}

#main > article {
  background: darken($gray, 10%);
  margin: 1em;
  order: 1;
  flex: 3 1 60%;

}



#main > aside {
  background: red;
  margin: 1em;
  order: 2;
  flex: 1 1 40%;
}

#dashboard_bottom_row {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-flow: row;
  min-height: 300px;
}

.chat {
  flex: 3 1 75%;
  background: pink;
  margin: 1em;
  order: 1


}




// ________________________________________
// DASHBOARDS UPLOADS SECTION!!!!!!!
// ________________________________________

.docs {
  flex: 1 1 25%;
  display:flex;
  background: yellow;
  margin: 1em;
  order: 2;
  align-items: center;
  justify-content: center;
}


// ________________________________________
// DASHBOARDS NEWS FEEDS SECTION!!!!!!!
// ________________________________________
// #dash_news_flex_cont {}




//
// @media all and (max-width: 640px) {
//   #main, # {
//     -webkit-flex-flow: column;
//     flex-direction: column;
//   }
//   #main > article,
//   #main > nav,
//   #main > aside {
//     /* Return them to document order */
//
//     -webkit-order: 0;
//     order: 0;
//   }
//   #main > nav,
//   #main > aside,
//   header,
//   footer {
//     min-height: 50px;
//     max-height: 50px;
//   }
// }
