<div class="uploads_list">


<div class="row">
          <% @uploads.each do |upload| %>

            <div class="col-md-4 portfolio-item">

                <%= image_tag ("document.png") %>
                <h3 class ="index_center"><%= link_to upload.name, upload.url%></h3>
            </div>

          <% end %>

        </div>
</div>
