<h1>Uploads#index</h1>
<p>Find me in app/views/uploads/index.html.erb</p>


<h1>All uploads</h1>
<% @uploads.each do |upload| %>
    <div>
        <%= link_to upload.name, upload.url %>
    </div>
<% end %>
