<div class="devise_flexbox_container">
  <div class="user_form">
    <div class="row">
      <% @dashboard.uploads.each do |upload| %>

      <div>
        <h3 ="index_center" class><%= link_to upload.name, upload.url%></h3>
      </div>

      <% end %>

    </div>
  </div>

</div>
