<div class="devise_flexbox_container">
  <div class="user_form">
<h1>All uploads</h1>
<% @dashboards.uploads.each do |upload| %>
    <div>
        <%= link_to upload.name, upload.url %>
    </div>
<% end %>
</div>
</div>
