<div id="footer">
<ul>
<!-- Left Navbar -->
  <li><%= link_to 'Home', '/', class:"fl" %></li>
|
<!-- Center Navbar -->
<li><%= link_to 'The Team', '/about', class:"fl" %></li>
|
<!-- Right Navbar -->
    <li><%= link_to 'Wyncode', '/wyncode', class:"fl" %></li>
</ul>
</div>
